<div style="width: 6rem; margin-left:2rem;">
	<MudFab Icon="@Icons.Filled.KeyboardBackspace" Label="BACK" Style="color: black; padding: 1rem 1.5rem; font-size: 1.25rem" IconSize="Size.Large" Href="/trainer/control-panel" DisableElevation />
</div>