<SubscriptionCard IsActive=@(Tokens>0)>
    <Front>
        <h2 style="position: absolute; width: 100%; text-align: center; top: 30px; color:white; margin:0;">
            Tokens
        </h2>
        <div style="position: absolute; width: 100%; top: 50%; transform: translateY(-50%); margin: 10px 0 0 0;">
            <h1 style="font-size: 80px; text-align: center; color:white; margin:0;">
                    @Tokens
            </h1>
            <h4 style="width: 100%; text-align: center; color:white; margin:0;">
                left
            </h4>
        </div>
        <MudIcon Style="position: absolute; top: 30px; right: 34px;" Class="ms-8" Icon="@Icons.Filled.History" Color="Color.Secondary" Size="Size.Medium" />
    </Front>
    <Back>

        <div style="justify-content:flex-start; column-gap:30px; font-weight:bold; flex: 1 0 50%; display: flex; flex-wrap: wrap; flex-direction: row; position: absolute; width: 75%; top: 30px; left: 34px; color:white;">
            <p style="margin: 0;">1. 05/10/2022</p>
            <p style="margin: 0;">2. 06/10/2022</p>
        </div>

        <MudIcon Style="position: absolute; top: 30px; right: 34px;" Class="ms-8" Icon="@Icons.Filled.KeyboardReturn" Color="Color.Secondary" Size="Size.Medium" />
    </Back>
</SubscriptionCard>
